{% extends "base.html" %}

{% block content %}
<form autocomplete="off" method="POST">
    <br />
    <div class="justify-content-center align-items-center container text-center">
        <div class="form-group col-md-3 mx-auto">
            <label for="Team-number">Team Number</label>
            <input type="team" id="team" class="form-control text-center" placeholder="Eg. 4253">
        </div>
        <div class="form-group col-md-3 mx-auto">
            <label for="Round-number">Round Number</label>
            <input type="round" id="round" class="form-control text-center" placeholder="Eg. 3">
        </div>
        <div class="form-group col-md-3 mx-auto">
            <label for="Round-number">Alliance</label>
            <select class="form-control text-center" id="alliance">
                <option>Red Alliance</option>
                <option>Blue Alliance</option>
            </select>
        </div>
    </div>
    <br />
</form>

<h1>Autonomous</h1>
<div class="container-md">    
    <!--Taxi-->
    <div class="border my-3 mx-auto justify-content-center col-xl-6">
        <div class="row justify-content-center big-word">
            <div class="col col-sm-1 col-xl-6 text-center"><strong>Taxi</strong></div>
        </div>

        <!--Checkboxes-->
        <div class="row justify-content-center big-word"> 
            <div class="col d-flex justify-content-center col-sm-1 col-xl-3 form-check form-check-inline left-padding">
                <input class="form-check-input chb" type="checkbox" id="yes" value="yes">
                <label class="form-check-label" for="yes">Yes</label>
            </div>
            <div class="col d-flex justify-content-center col-sm-1 col-xl-3 form-check form-check-inline left-padding">
                <input class="form-check-input chb" type="checkbox" id="no" value="no">
                <label class="form-check-label" for="no">No</label>
            </div>
        </div>
    </div>

    <!--Upper-->
    <div class="border col-xl-6 mx-auto my-3">
        <div class="row big-word justify-content-center">
            <div class="col col-md-1 col-xl-6 text-center"><strong>Upper Hub</strong></div>
        </div>
        
        <!--In-->
        <div class="row my-3 big-word justify-content-center">
            <div class="col d-flex col-md-1 col-xl-4 justify-content-end ">In:</div>
            <div class="col d-flex col-md-1 col-xl-4 justify-content-end">    
                <input class="text-center input-num" name="upper_in" type="number" value="0" name="upper_points" step="1">
            </div>
        </div>
        <!--Didn't-->
        <div class="row my-3 big-word justify-content-center">
            <div class="col d-flex col-md-1 col-xl-4 justify-content-end">Didn't:</div>
            <div class="col d-flex col-md-1 col-xl-4 justify-content-end">    
                <input class="text-center input-num" name="upper_not" type="number" value="0" name="lower_points" step="1">
            </div>
        </div>
        <!--Unreliable-->
        <div class="row justify-content-center big-word"> 
            <div class="col d-flex justify-content-center col-sm-1 col-xl-3 form-check form-check-inline unreliable-padding">
                <input class="form-check-input" type="checkbox" id="unreliable_upper" value="unreliable_upper">
                <label class="form-check-label" for="unreliable_upper">Unreliable</label>
            </div>
        </div>
    </div>

    <!--Lower-->
    <div class="border col-xl-6 mx-auto my-3">
        <div class="row big-word justify-content-center">
            <div class="col col-md-1 col-xl-6 text-center"><strong>Lower Hub</strong></div>
        </div>
        
        <!--In-->
        <div class="row my-3 big-word justify-content-center">
            <div class="col d-flex col-md-1 col-xl-4 justify-content-end ">In:</div>
            <div class="col d-flex col-md-1 col-xl-4 justify-content-end">    
                <input class="text-center input-num" name="lower_in" type="number" value="0" name="lower_points" step="1">
            </div>
        </div>
        <!--Didn't-->
        <div class="row my-3 big-word justify-content-center">
            <div class="col d-flex col-md-1 col-xl-4 justify-content-end">Didn't:</div>
            <div class="col d-flex col-md-1 col-xl-4 justify-content-end">    
                <input class="text-center input-num" name="lower_not" type="number" value="0" name="lower-not" step="1">
            </div>
        </div>
        <!--Unreliable-->
        <div class="row justify-content-center big-word"> 
            <div class="col d-flex justify-content-center col-sm-1 col-xl-3 form-check form-check-inline unreliable-padding">
                <input class="form-check-input" type="checkbox" id="unreliable_lower" value="unreliable_lower">
                <label class="form-check-label" for="unreliable_lower">Unreliable</label>
            </div>
        </div>
    </div>
</div>

<h1>Teleop</h1>
<div class="container-md">    
    <!--Taxi-->
    <div class="border my-3 mx-auto justify-content-center col-xl-6">
        <div class="row justify-content-center big-word">
            <div class="col col-sm-1 col-xl-6 text-center"><strong>Taxi</strong></div>
        </div>

        <!--Checkboxes-->
        <div class="row justify-content-center big-word"> 
            <div class="col d-flex justify-content-center col-sm-1 col-xl-3 form-check form-check-inline left-padding">
                <input class="form-check-input chb" type="checkbox" id="yes" value="yes">
                <label class="form-check-label" for="yes">Yes</label>
            </div>
            <div class="col d-flex justify-content-center col-sm-1 col-xl-3 form-check form-check-inline left-padding">
                <input class="form-check-input chb" type="checkbox" id="no" value="no">
                <label class="form-check-label" for="no">No</label>
            </div>
        </div>
    </div>

    <!--Upper-->
    <div class="border col-xl-6 mx-auto my-3">
        <div class="row big-word justify-content-center">
            <div class="col col-md-1 col-xl-6 text-center"><strong>Upper Hub</strong></div>
        </div>
        
        <!--In-->
        <div class="row my-3 big-word justify-content-center">
            <div class="col d-flex col-md-1 col-xl-4 justify-content-end ">In:</div>
            <div class="col d-flex col-md-1 col-xl-4 justify-content-end">    
                <input class="text-center input-num" name="upper_in" type="number" value="0" name="upper_points" step="1">
            </div>
        </div>
        <!--Didn't-->
        <div class="row my-3 big-word justify-content-center">
            <div class="col d-flex col-md-1 col-xl-4 justify-content-end">Didn't:</div>
            <div class="col d-flex col-md-1 col-xl-4 justify-content-end">    
                <input class="text-center input-num" name="upper_not" type="number" value="0" name="lower_points" step="1">
            </div>
        </div>
        <!--Unreliable-->
        <div class="row justify-content-center big-word"> 
            <div class="col d-flex justify-content-center col-sm-1 col-xl-3 form-check form-check-inline unreliable-padding">
                <input class="form-check-input" type="checkbox" id="unreliable_upper" value="unreliable_upper">
                <label class="form-check-label" for="unreliable_upper">Unreliable</label>
            </div>
        </div>
    </div>

    <!--Lower-->
    <div class="border col-xl-6 mx-auto my-3">
        <div class="row big-word justify-content-center">
            <div class="col col-md-1 col-xl-6 text-center"><strong>Lower Hub</strong></div>
        </div>
        
        <!--In-->
        <div class="row my-3 big-word justify-content-center">
            <div class="col d-flex col-md-1 col-xl-4 justify-content-end ">In:</div>
            <div class="col d-flex col-md-1 col-xl-4 justify-content-end">    
                <input class="text-center input-num" name="lower_in" type="number" value="0" name="lower_points" step="1">
            </div>
        </div>
        <!--Didn't-->
        <div class="row my-3 big-word justify-content-center">
            <div class="col d-flex col-md-1 col-xl-4 justify-content-end">Didn't:</div>
            <div class="col d-flex col-md-1 col-xl-4 justify-content-end">    
                <input class="text-center input-num" name="lower_not" type="number" value="0" name="lower-not" step="1">
            </div>
        </div>
        <!--Unreliable-->
        <div class="row justify-content-center big-word"> 
            <div class="col d-flex justify-content-center col-sm-1 col-xl-3 form-check form-check-inline unreliable-padding">
                <input class="form-check-input" type="checkbox" id="unreliable_lower" value="unreliable_lower">
                <label class="form-check-label" for="unreliable_lower">Unreliable</label>
            </div>
        </div>
    </div>

    <!--Endgame-->
    <div class="border col-xl-6 col-md-1 mx-auto my-3">
        <div class="big-word justify-content-center">
            <div class="col text-center"><strong>Endgame</strong></div>
        </div>
        
        <!--Hang-->
        <form>
            <div class="col big-word justify-content-center text-center">Hang</div>

            <!--Select hang status-->
            <div class="col col-xl-6 my-2 mx-auto justify-content-center big-word form-group">
                <select class="form-control text-center" id="hang">
                    <option>Attempted</option>
                    <option>Low</option>
                    <option>Mid</option>
                    <option>High</option>
                    <option>Traversal</option>
                </select>
            </div>
        </form>
    </div>

    
    <!--Results-->
    <div class="border col-xl-6 col-md-1 mx-auto my-3">
        <div class="big-word justify-content-center">
            <div class="col text-center"><strong>Results</strong></div>
        </div>
        
        <!--Hang-->
        <form>
            <!--Select hang status-->
            <div class="col col-xl-6 my-2 mx-auto justify-content-center big-word form-group">
                <select class="form-control text-center" id="win">
                    <option>Win</option>
                    <option>Loss</option>
                    <option>Tie</option>
                </select>
            </div>
        </form>
        <div class="row justify-content-center big-word"> 
            <div class="col d-flex justify-content-center col-sm-1 col-xl-3 form-check form-check-inline unreliable-padding">
                <input class="form-check-input" type="checkbox" id="cargo_bonus" value="cargo_bonus">
                <label class="form-check-label" for="cargo_bonus">C_Bonus</label>
            </div>
        </div>
        <div class="row justify-content-center big-word"> 
            <div class="col d-flex justify-content-center col-sm-1 col-xl-3 form-check form-check-inline unreliable-padding">
                <input class="form-check-input" type="checkbox" id="hangar_bonus" value="hangar_bonus">
                <label class="form-check-label" for="hangar_bonus">H_Bonus</label>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row col-sm-1 col-xl-3 mx-auto">
        <a class="btn btn-primary" href="#" role="button">Submit</a>
    </div>
    <br />
</div>
{% endblock %}