{% extends "base.html" %}

{% block content %}
<h1>Autonomous</h1>
<div class="container-md">
    <!--
    <div class="row justify-content-center my-5 big-word">
        <div class="col col-md-1 col-xl-3 text-center border">Taxi:</div>

        <div class="col col-md-1 col-xl-3 form-check taxi-check border">
            <input class="form-check-input chb" type="checkbox" value="yes" id="yes">
            <label class="form-check-label" for="yes">
                Yes
            </label>
        </div>
        <div class="col col-md-1 col-xl-3 form-check border">
            <input class="form-check-input chb" type="checkbox" value="no" id="no">
            <label class="form-check-label" for="no">
                No
            </label>
        </div>
    </div>-->
    
    <!--Taxi-->
    <div>
        <div class="row my-3 justify-content-center big-word">
            <div class="col col-md-1 col-xl-6 text-center border"><strong>Taxi:</strong></div>
        </div>

        <!--Checkboxes-->
        <div class="row justify-content-center big-word"> 
            <div class="col col-md-1 col-xl-2 form-check form-check-inline border">
                <input class="form-check-input" type="checkbox" id="yes" value="yes">
                <label class="form-check-label" for="yes">Yes</label>
            </div>
            <div class="col col-md-1 col-xl-2 form-check form-check-inline border">
                <input class="form-check-input" type="checkbox" id="no" value="no">
                <label class="form-check-label" for="no">No</label>
            </div>
        </div>
    </div>

    <!--Upper-->
    <div>
        <div class="row my-4 big-word justify-content-center">
            <div class="col col-md-1 col-xl-6 text-center border"><strong>Upper</strong></div>
        </div>
        
        <!--In-->
        <div class="row my-4 big-word justify-content-start">
            <div class="col col-md-1 col-xl-6 text-center border">In</div>
        </div>

        <!--In-->
        <div class="row my-4 big-word justify-content-start">
            <div class="col col-md-1 col-xl-6 text-center border">In</div>
        </div>

    </div>

    <!--Lower-->
    <div>
        <div class="row my-5 big-word">
            <div class="col col-md-1 col-md-6 text-center border"><strong>Lower</strong></div>
        </div>
    </div>

</div>

{% endblock %}