{% extends "base.html" %}

{% block content %}
<br />
<h3 class="text-center">Autonomous</h3>
<br />
<div class="row">
    <!--Taxi column-->
    <div class="column">
        <h4 class="text-center"><strong>Taxi</strong></h4> 

        <!--Check boxes-->
        <div class="checkboxes col col-2 form-check form-check-inline border">
            <label class="form-check-label" for="inlineCheckbox1">
                <!--<input type="checkbox" class="chb">Yes-->
                <input class="form-check-input chb" type="checkbox" id="inlineCheckbox1" value="option1"> Yes
            </label>
        </div>
        <div class="checkboxes text-center taxi-style">
            <label class="big-word"><input type="checkbox" class="chb"><span class="taxi-word">No</span></label>
        </div>
    </div>

    <!--Lower hub column-->
    <div class="column">
        <h4 class="text-center">Lower Hub</h4>
        <br />

        <!--Score recorder-->
        <div>
            <div class="row justify-content-center">    
                <input class="text-center input-num" name="prependedcheckbox" type="number" value="0" name="points" step="1">
            </div>

            <!--Unreliable-->
            <div class="checkboxes text-center taxi-style">
                <label class="big-word"><input type="checkbox" id="radio"><span class="taxi-word">Unreliable</span></label>
            </div>
        </div>

            <div class="input-group">
                <span class="input-group-addon">
                    <input type="checkbox" id="radio">
                </span>
                <input id="prependedcheckbox" name="prependedcheckbox" class="form-control"
                              type="text" placeholder="" disabled />
            </div>
    
    </div>

    <!--Upper hub column-->
    <div class="column">
        <h4 class="text-center">Upper Hub</h4>
        <br />
        
        <div class="row justify-content-center">    
            <input class="text-center input-num" type="number" value="0" name="points" step="1">
        </div>

        <!--Unreliable-->
        <div class="checkboxes text-center taxi-style">
            <label class="big-word"><input type="checkbox"><span class="taxi-word">Unreliable</span></label>
        </div>
    </div>

    <!--Missed column-->
    <div class="column">
        <h4 class="text-center">Missed</h4>
        <br />
        <div class="row justify-content-center">    
            <input class="text-center input-num" type="number" value="0" name="points" step="1">
        </div>
    </div>
</div>
{% endblock %}