{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
  	<div class="row pb-5">
		<div class="col-md-12 col-lg-12">
			<table class="my-5 table">
				<tr class="border text-center">
					<th>Team</th>
					<th>Round</th>
					<th>Alliance</th>

					<th>Auton</th>
					<th>Taxi</th>
					<th>Upper_In</th>
					<th>Upper_Missed</th>
					<th>Upper_Unreliable</th>
					<th>Lower_In</th>
					<th>Lower_Missed</th>
					<th>Lower_Unreliable</th>

					<th>Teleop</th>
					<th>Upper_In</th>
					<th>Upper_Missed</th>
					<th>Upper_Unreliable</th>
					<th>Lower_In</th>
					<th>Lower_Missed</th>
					<th>Lower_Unreliable</th>

					<th>Hang</th>
					<th>Results</th>
					<th>C_Bonus</th>
					<th>H_Bonus</th>

				</tr>

				{% for datum in data %}
				<tr class="border text-center">
					<td class="border">{{ datum.team }}</td>
					<td class="border">{{ datum.round }}</td>
					<td class="border">{{ datum.alliance }}</td>

					<td class="border">--></td>

					<td class="border">{{ datum.taxi }}</td>
					<td class="border">{{ datum.auton_upper_in }}</td>
					<td class="border">{{ datum.auton_upper_missed }}</td>
					<td class="border">{{ datum.auton_upper_unreliable }}</td>
					<td class="border">{{ datum.auton_lower_in }}</td>
					<td class="border">{{ datum.auton_lower_missed }}</td>
					<td class="border">{{ datum.auton_lower_unreliable }}</td>

					<td class="border"></td>
					<td class="border">{{ datum.tele_upper_in }}</td>
					<td class="border">{{ datum.tele_upper_missed }}</td>
					<td class="border">{{ datum.tele_upper_unreliable }}</td>
					<td class="border">{{ datum.tele_lower_in }}</td>
					<td class="border">{{ datum.tele_lower_missed }}</td>
					<td class="border">{{ datum.tele_lower_unreliable }}</td>

					<td class="border">{{ datum.hang }}</td>
					<td class="border">{{ datum.win }}</td>
					<td class="border">{{ datum.cargo_bonus }}</td>
					<td class="border">{{ datum.hangar_bonus }}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>

{% endblock %}