{% extends "base.html" %}

{% block content %}

<div class="container">
  	<div class="row pb-5">
		<div class="col-md-12 col-lg-12">
			<table class="my-5 table">
				<tr class="border text-center">
					<th>Team</th>
					<th>Round</th>
					<th>Alliance</th>

					<th>Auton</th>
					<th>Taxi</th>
					<th>Upper_In</th>
					<th>Upper_Missed</th>
					<th>Upper_Unreliable</th>
					<th>Lower_In</th>
					<th>Lower_Missed</th>
					<th>Lower_Unreliable</th>

					<th>Teleop</th>
					<th>Upper_In</th>
					<th>Upper_Missed</th>
					<th>Upper_Unreliable</th>
					<th>Lower_In</th>
					<th>Lower_Missed</th>
					<th>Lower_Unreliable</th>

					<th>Hang</th>
					<th>Results</th>
					<th>C_Bonus</th>
					<th>H_Bonus</th>

				</tr>

				{% for datum in data %}
				<tr class="border text-center">
					<td>{{ datum.team }}</td>
					<td>{{ datum.round }}</td>
					<td>{{ datum.alliance }}</td>

					<td></td>

					<td>{{ datum.taxi }}</td>
					<td>{{ datum.auton_upper_in }}</td>
					<td>{{ datum.auton_upper_missed }}</td>
					<td>{{ datum.auton_upper_unreliable }}</td>
					<td>{{ datum.auton_lower_in }}</td>
					<td>{{ datum.auton_lower_missed }}</td>
					<td>{{ datum.auton_lower_unreliable }}</td>

					<td></td>
					<td>{{ datum.tele_upper_in }}</td>
					<td>{{ datum.tele_upper_missed }}</td>
					<td>{{ datum.tele_upper_unreliable }}</td>
					<td>{{ datum.tele_lower_in }}</td>
					<td>{{ datum.tele_lower_missed }}</td>
					<td>{{ datum.tele_lower_unreliable }}</td>

					<td>{{ datum.hang }}</td>
					<td>{{ datum.win }}</td>
					<td>{{ datum.cargo_bonus }}</td>
					<td>{{ datum.hangar_bonus }}</td>

				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
	<!--Clear data button-->
	<div class="container">
		<div class="row">
			<div class="col text-center">
				<button type="submit" href="/home" class="btn btn-primary">Clear</button>
			</div>
		</div>
	</div>
</div>

{% endblock %}