{% extends "base.html" %} {% block title %}Home{% endblock %} 

{% block content %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/home">4253 Raid Zero</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/scout">Scout</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/data">Data</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/input">Input</a>
        </li>

    </ul>
</nav>
{% endblock %}