{% extends "base.html" %} {% block title %}Scout{% endblock %} 

{% block content %}
<form method="POST">
    <br />
    <br />
    <!--<div class="col-md-6 text-center">-->
    <div class="col-md-6 justify-content-center align-items-center container text-center">
        <div class="form-group">
            <label for="Team-number">Team Number</label>
            <input type="team" id="team" class="form-control text-center" placeholder="Eg. 4253">
        </div>
        <br />
        <div class="form-group">
            <label for="Round-number">Round Number</label>
            <input type="round" id="round" class="form-control text-center" placeholder="Eg. 3">
        </div>
    </div>
    <br />
    <div class="text-center"> 
        <button 
            type="submit" 
            class="btn btn-primary">Submit
        </button>
    </div>
</form>
{% endblock %}